main {
    display: grid;
    grid-template-areas: "box1 box2" "box3 box4";
    grid-template-columns: 1fr 1.3fr; 
    grid-gap: 1%;
}

/*    ################### SECTION ASSIGNMENT ###################    */
main section:first-child {
    grid-area: box1;
}

main section:nth-child(2) {
    grid-area: box2;
}

/*    ################### SECTION SIZING ###################    */

main section:first-child {
    margin-left: 18%;
    margin-top: 25%;
    margin-right: 10%;
    margin-bottom: -50%;
    padding: 0%; 

}

main section:nth-child(n+2) {
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: -50%;
    padding: 2%; 

}



img {
    max-width: 35%; 
    width: auto;
    height: auto; 
    margin: 5px; 
    object-fit: contain;
    transition: transform 0.3s, z-index 0.3s; /* Smooth transitions */
    position: relative; /* Default position */
    z-index: 1; /* Base stacking context */
}

img:hover {
    transform: scale(1.8); /* Enlarges the image smoothly */
    z-index: 10; /* Brings the hovered image to the front */
}


/*    ###################  HEADER ###################    */

.logo {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 20ch; /* Matches average character count */
    line-height: 1.2; /* Adjust this for consistent vertical spacing */
    text-align: center;
    font-size: 45px;
    position: relative;
    white-space: nowrap; 
    overflow: hidden; /* Prevents overflow when text size changes */
    margin-top: 1.5%;
    left: 0;
    width: 100%;
    height: 60px; /* Set a fixed height that works for your fonts */
    animation: fontCycle 0.5s 3 forwards;
}


@keyframes fontCycle {
    0% { font-family: 'Mynerve', serif;}
    20% { font-family: 'Bokor', serif;}
    40% { font-family: 'Lexend Giga', serif;}
    60% { font-family: 'Nothing You Could Do', serif;}
    80% { font-family: 'OtherHand';}
    100% {font-family: 'Mynerve', serif;} 
}
