/* Rock Salt */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

main {
    display: grid;
    grid-template-areas: "box1 box2" "box3 box4";
    grid-template-columns: 1fr 1.3fr; 
    grid-gap: 1%;
}

/*    ################### SECTION ASSIGNMENT ###################    */
main section:first-child {
    grid-area: box1;
}

main section:nth-child(2) {
    grid-area: box2;
}

/*    ################### SECTION SIZING ###################    */

main section:first-child {
    margin-left: 18%;
    margin-top: 25%;
    margin-right: 10%;
    margin-bottom: -50%;
    padding: 0%; 

}

main section:nth-child(n+2) {
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: -50%;
    padding: 2%; 

}



img {
    max-width: 35%; 
    width: auto;
    height: auto; 
    margin: 5px; 
    object-fit: contain;
    transition: transform 0.3s, z-index 0.3s; /* Smooth transitions */
    position: relative; /* Default position */
    z-index: 1; /* Base stacking context */
}

img:hover {
    transform: scale(1.8); /* Enlarges the image smoothly */
    z-index: 10; /* Brings the hovered image to the front */
}


/*    ###################  HEADER ###################    */

.logo {
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 50px; /* Stable height */
    line-height: 50px;
    animation: fontCycle 1s steps(1) 2 forwards; 
    color: White;
    transition: opacity 0.3s ease-in-out;
}

.logo img {
    visibility: hidden; /* Instead of display: none */
    width: 120px; /* Adjust as needed */
    height: auto;
    vertical-align: middle;
}
 
@keyframes fontCycle {
    0% { font-family: 'Sixtyfour', serif; opacity: 1;}
    10% { font-family: 'Georgia', serif; }  /* Classic serif */
    20% { font-family: 'Bokor', serif; }  /* Decorative */
    30% { font-family: 'Verdana', sans-serif; }  /* Readable sans-serif */
    40% { font-family: 'Lexend Giga', serif; }  /* Modern serif */
    50% { font-family: 'Impact', Charcoal, sans-serif; }  /* Bold and strong */
    60% { font-family: 'Nothing You Could Do', cursive; }  /* Handwritten */
    70% { font-family: 'Arial', sans-serif; }  /* Standard sans-serif */
    80% { font-family: 'Times New Roman', Times, serif; }  /* Classic newspaper look */
    90% { font-family: 'Rock Salt', cursive; }  
    100% { font-family: 'Mansalva', sans-serif; }  /* Final unique style */
}
