main {
    display: grid;
    grid-template-areas: "box1 box2" "box3 box4";
    grid-template-columns: 1fr 1.3fr; 
    grid-gap: 1%;
}

/* Section assignment */
main section:first-child {
    grid-area: box1;
}

main section:nth-child(2) {
    grid-area: box2;
}

main section:first-child {
    position: sticky;
    top: 0; /* Distance from the top of the viewport */
    align-self: start; /* Align section to the top of the grid */
    height: 100vh; /* Make it span the full viewport height */
    margin-left: 40%;
    padding: 2%;
    background-color: black; /* Optional: Add a background color to distinguish it */
}

main section:nth-child(2) {
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: -50%;
    padding: 2%;
}


img {
    max-width: 35%; 
    width: auto;
    height: auto; 
    margin: 5px; 
    object-fit: contain;
    transition: max-width 0.3s; 
}

img:hover {
    max-width: 62%; 
}
    