/* DM Sans, serif, old */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*  Prompt, serif, old */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Bokor (gothic), logo */
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
/* Funnel, serif for regular text */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap');
/* Scanlines, logo */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
/* Lexend Giga */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
/* Nothing, handwritten*/
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/* Mynerve serif */
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
/* Otherhand */
@font-face {
    font-family: 'OtherHand';
    src: url('/fonts/OtherHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(0, 0, 0);
}

/*    ################### TESTING ###################    */

section {
    border: 1px solid #000000; /
}

main section:first-child p {
    text-align: center;
}


/*    ################### HEADER ###################    */
.logo h1 {
    display: inline-block;
    margin: 0;
}

h2 {
    color: white;
    font-family: "Funnel Display", serif;
}

.betterH2 {
    font-family: 'Mynerve', Serif;
    font-size: 40px;
}

/*    ################### Body ###################    */

p {
    color: white;
    font-family: "Funnel Display", serif;
}

a {
    color: white;
    font-family: "Funnel Display", serif;
}

.nav {
    color: white; 
    font-family: "Funnel Display", serif;
    text-decoration: none;
}

/* .sub-nav-link {
    color: white;
    font-style: italic;
    font-family: "Funnel Display", serif;
} */

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #ccc;
    margin: 1em 0;
    padding-left: 10px;
}


/*    ################### Icons ###################    */
.social-icons {
    text-align: center;
    margin-top: 20px;
}
.social-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;